<div class="container">
  <div class="row">
    <h4 class="text-info text-center">Your Cart Items</h4>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card" *ngFor="let product of cartArray">
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                      
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>{{product.title}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.total}}</td>
                      </tr>
                  
                    </tbody>
                  </table>

                  <div class="row">
                    <button class="btn btn-warning" [routerLink]="['/billing']" >Check out</button>
                  </div>
            </div>
          </div>
    </div>
  
  </div>
</div>