<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>name</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categorys$ | async">
            <td><img class="avatar" src="{{ category.avatar }}"></td>
            <td>{{category.title}}</td>
            <td>
                <button class="btn btn-default" (click)="remove(category.id)">
    delete
      </button>
            </td>
        </tr>
    </tbody>
</table>