.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

.product_img{
    height:500px;
    width:auto;
}
.product_img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    
}